<div>
	<ul class="boxes">
		<li>
  			<div class="boxes_text-wrapper"><img class="zoom-left" src="assets/Moth.png"></div>
  		</li>
  		<li>
  			<div class="boxes_text-wrapper"><img class="zoom" src="assets/beatrice.jpg"></div>
  		</li>
  		<li>	
  			<div class="boxes_text-wrapper"><img class="zoom" src="assets/placecard1.jpg"></div>
  		</li>
  		<li>	
  			<div class="boxes_text-wrapper"><img class="zoom" src="assets/placecard2.jpg"></div>
  		</li>
  		<li>
  			<div class="boxes_text-wrapper"><img class="zoom" src="assets/placecards.jpg"></div>
  		</li>
  		<li>
  			<div class="boxes_text-wrapper"><img class="zoom-right" src="assets/buffetsign.jpg"></div>
  		</li>
  		<li>
  			<div class="boxes_text-wrapper"><img class="zoom-left" src="assets/savethedate.jpg"></div>
  		</li>
  		<li>
  			<div class="boxes_text-wrapper"><img class="zoom" src="assets/invitation.jpg"></div>
  		</li>
  		<li>
  			<div class="boxes_text-wrapper">Coming Soon</div>
  		</li>
  		<li>
  			<div class="boxes_text-wrapper">Coming Soon</div>
  		</li>
  		<li>
  			<div class="boxes_text-wrapper">Coming Soon</div>
  		</li>
  		<li>
  			<div class="boxes_text-wrapper">Coming Soon</div>
  		</li>
      <li>
        <div class="boxes_text-wrapper">Coming Soon</div>
      </li>
      <li>
        <div class="boxes_text-wrapper">Coming Soon</div>
      </li>
      <li>
        <div class="boxes_text-wrapper">Coming Soon</div>
      </li>
      <li>
        <div class="boxes_text-wrapper">Coming Soon</div>
      </li>
  		      <li>
        <div class="boxes_text-wrapper">Coming Soon</div>
      </li>
      <li>
        <div class="boxes_text-wrapper">Coming Soon</div>
      </li>
  	</ul>
</div>